In [1]:
#Q92. Make your own list. Print the list in reverse.
l=[4,2,-9,"ps",-99,30]
print(l[::-1])

[30, -99, 'ps', -9, 2, 4]

In [2]:
#Q93. Make your own list. Print all the even numbers present in the list.

l=[45,85,79,66,12,3,44,77,55,22,18,20,40]
even_ele=[]
for i in l:
  if i%2==0:
    even_ele.append(i)
print(even_ele)

[66, 12, 44, 22, 18, 20, 40]

In [3]:
#Q94. Make your own list. Print all the odd numbers present in the list.
l=[45,85,79,66,12,3,44,77,55,22,18,20,40]
odd_ele=[]
for i in l:
  if i%2!=0:
    odd_ele.append(i)
print(odd_ele)

[45, 85, 79, 3, 77, 55]

In [4]:
#Q96. Make your own list. Print the sum of all elements present in that list.
l=[45,85,79,66,12,3,44,77,55,22,18,20,40]
sum=0
for i in l:
  sum=sum+i
print(sum)

566

In [5]:
#Q97. Make your own list. Count the number of even numbers present in
#that list.

l=[45,85,79,66,12,3,44,77,55,22,18,20,40]

count=0

for i in l:
  if i%2==0:
    count=count+1
print(count)

7

In [6]:
#Q98. Make your own list. Count how many numbers are divisible by both 2
#and 5 in that list. (Do on your own)

l=[45,85,79,66,12,3,44,77,55,22,18,20,40]

count=0

for i in l:
  if i%2==0 and i%5==0:
    count=count+1
print(count)

2

In [7]:
#Q100. Make your own list. Find the sum of all numbers divisible by 3 or 4.
#Do on your own)
l=[45,85,79,66,12,3,44,77,55,22,18,20,40]

sum=0

for i in l:
  if i%3==0 and i%4==0:
    sum=sum+i
print(sum)

12

In [8]:
#Q101. Make your own list. Print how many positive and negative numbers
#are here. (Do on your own)
l=[45,85,79,66,12,3,44,77,55,22,18,20,40,0,-66,-55,77,1,-9,-1]
count_of_positive=0
count_of_negative=0

for i in l:
  if i >=0:
    count_of_positive=count_of_positive+1
  else:
    count_of_negative=count_of_negative+1

print(count_of_positive)
print(count_of_negative)

16
4

In [10]:
#Q102. Make your own list. Print the largest number present in that list.
l=[45,85,79,66,12,3,44,77,55,22,18,20,40,0,-66,-55,77,1,-9,-1]

print(max(l))

print(l[1])

85
85

In [11]:
#Q103. Make your own list. Print the smallest number present in that list.
l=[45,85,79,66,12,3,44,77,55,22,18,20,40,0,-66,-55,77,1,-9,-1]

print(min(l))

-66