In [8]:
#Q54. Ask a number from user. Print all the numbers from 1 to that number.

n=int(input("Enter the number :"))

for i in range (1,n+1):
  print(i)

Enter the number :10
1
2
3
4
5
6
7
8
9
10

In [18]:
#Q55. Ask a number (N) from user. Print all the numbers from N to 1.

n=int(input("Enter the number :"))

for i in range (n,0,-1):
  print(i)

Enter the number :10
10
9
8
7
6
5
4
3
2
1

In [19]:
#Q56. Ask start number and end number from user. Print all the numbers
#from start to end using while loop.
s=int(input("Enter the number :"))
e=int(input("Enter the number :"))

for i in range (s,e+1):
  print(i)

Enter the number :1
Enter the number :10
1
2
3
4
5
6
7
8
9
10

In [20]:
#Q57. Calculate the sum of all the numbers from 1 to 10

sum=0
for i in range (1,11):
  sum=sum+i
print(sum)

55

In [21]:
#Q58. Calculate product of all the numbers from 1 to 10.
pr=1
for i in range (1,11):
  pr=pr*i
print(pr)

3628800

In [22]:
#Q59. Calculate how many numbers are divisible by 7 from 1 to 100.
count=0

for i in range (1,101):
  if i%7==0:
    count=count+1
print(count)

14

In [23]:
#Q60. Calculate how many numbers are divisible by both 6 and 7 between 1
#to 200.

count=0

for i in range (1,201):
  if i%7==0 and i%6==0:
    count=count+1
print(count)

4

In [25]:
#Q61. Write a program to calculate the sum of all the numbers divisible by 4
#from 20 to 50.

sum=0
for i in range (20,51):
  if i%4==0:
    sum=sum+i
print(sum)

272

In [ ]:
'''Q63. Ask a number from user. Print the multiplication table of that number.
Example
Enter a number = 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24

.....
8 x 10 = 80'''

In [26]:
n=int(input("Enter the number :"))

for i in range (1,11):
  print(n*i)

Enter the number :8
8
16
24
32
40
48
56
64
72
80

In [ ]:
'''Q64. Calculate factorial of a number entered by user.
Example:
Enter a number = 5
Factorial of a number means product of all the numbers from 1 to that
number.
5 factorial = 5 x 4 x 3 x 2 x 1
Output = 120'''

In [28]:
n=int(input("Enter the number :"))
f=1
for i in range (n,0,-1):
  f=f*i
print(f)

Enter the number :5
120