In [37]:
for i in range(1,6):
  for j in range(1,6):
    print("*",end=" ")
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [38]:
for i in range(1,6):
  for j in range(1,6):
    print(j,end=" ")
  print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [42]:
for i in range(5,0,-1):
  for j in range(5,0,-1):
    print(j,end=" ")
  print()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [43]:
for i in range(1,6):
  for j in range(1,6):
    print(i,end=" ")
  print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [44]:
for i in range(5,0,-1):
  for j in range(1,6):
    print(i,end=" ")
  print()

5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

In [46]:
n=int(input("Enter the number :"))
for i in range(1,n+1):
  for j in range(1,6):
    print(i,end=" ")
  print()

Enter the number :8
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5
6 6 6 6 6
7 7 7 7 7
8 8 8 8 8

In [47]:
n=int(input("Enter the number :"))
for i in range(n,0,-1):
  for j in range(1,6):
    print(i,end=" ")
  print()

Enter the number :6
6 6 6 6 6
5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1