In [3]:
#Q42. Ask a number from user. Print all the numbers from 1 to that number

n=int(input("Enter the number :"))
i=1
while i <= n:
  print(i)
  i=i+1

Enter the number20
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [5]:
#Q43. Ask a number (N) from user. Print all the numbers from N to 1.

n=int(input("Enter the number :"))

i=1

while i <= n:
  print(n)
  n=n-1

Enter the number :20
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [6]:
#Q44. Ask start number and end number from user. Print all the numbers
#from start to end using while loop.

s=int(input("Enter the number :"))
e=int(input("Enter the number :"))

while s <=e:
  print(s)
  s=s+1

Enter the number :1
Enter the number :10
1
2
3
4
5
6
7
8
9
10

In [9]:
#Q45. Calculate the sum of all the numbers from 1 to 10.

sum=0
i=1
while i <= 10:
  sum=sum+i
  i=i+1
print(sum)

55

In [10]:
#Q46. Calculate product of all the numbers from 1 to 10
pr=1
i=1
while i <= 10:
  pr=pr*i
  i=i+1
print(pr)

3628800

In [11]:
#Q47. Calculate how many numbers are divisible by 7 from 1 to 100.

count=0
i=1
while i<=100:
  if i%7==0:
    count=count+1
  i=i+1
print(count)

14

In [12]:
#Q48. Calculate how many numbers are divisible by both 6 and 7 between 1
#to 200.


count=0
i=1
while i<=200:
  if i%7==0 and i%6==0:
    count=count+1
  i=i+1
print(count)

4

In [14]:
#Q49. Write a program to calculate the sum of all the numbers divisible by 4
#from 20 to 50.


count=0
sum=0
i=20
while i<=50:
  if i%4==00:
    count=count+1
    sum=sum+i
  i=i+1
print("count of numbers are divisible 4 from 20 to 50 is :",count)
print("sum of numbers are divisible 4 from 20 to 50 is :",sum)

count of numbers are divisible 4 from 20 to 50 is : 8
sum of numbers are divisible 4 from 20 to 50 is : 272

In [ ]:
'''Q51. Ask a number from user. Print the multiplication table of that number.
Example
Enter a number = 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
.....
8 x 10 = 80'''

In [17]:
n=int(input("Enter the number :"))
i=1
while i<=10:
  print(i*n)
  i=i+1

Enter the number :8
8
16
24
32
40
48
56
64
72
80

In [ ]:
'''Q52. Calculate factorial of a number entered by user.
Example:
Enter a number = 5
Factorial of a number means product of all the numbers from 1 to that
number.
5 factorial = 5 x 4 x 3 x 2 x 1
Output = 120'''

In [25]:
n=int(input("Enter the number :"))
i=1
while i >1:
  n*i
  n=n-1
print(i)

Enter the number :5
1